* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
}

p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 2;
    color: #707070;
}

/* Start Heading Section  */
section {
    margin-bottom: 80px;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/donation5.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: #fff;
    text-align: center;
}


.header-content p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 2;
    color: #fff;
}

.btn {
    border: none;
    padding: 18px 40px;
    background-color: #FF5959;
    border-radius: 5px;
    cursor: pointer;
}

.btn a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

/* End Heading Section  */


/* Start Donation Section  */

.donation-content {
    text-align: center;
}

.donation-content h2 {
    font-size: 45px;
    color: #121212;
}

.donation-price {
    margin-top: 50px;
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0 10px;
    padding: 40px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.item h3 {
    font-size: 30px;
    color: #707070;
    font-weight: bold;

}

#five-hun {
    background-color: #FFEEFE;
    color: #FF5959;
    border: 2px solid #FF5959;
    margin: 0 10px;
    padding: 40px;
    border-radius: 5px;

}

#five-hun h3 {
    font-size: 30px;
    font-weight: bold;
}

.input {
    text-align: center;
    margin-top: 60px;
}

.input-text {
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
    padding: 10px 336px;
    text-align: center;
    border-color: #70707045;
}

/* End Donation Section  */


/* Start Donation plan Section  */
.dn-item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* text-align: center; */
}

.help-item {
    margin: 40px;
    padding: 100px 30px 44px;
    background-color: #4f9da68f;
}

#book {
    margin: 40px;
    padding: 100px 30px 44px;
    background-color: #ff595990;
}

#shelter {
    margin: 40px;
    padding: 100px 30px 44px;
    background-color: #FFF4D6;
}

.help-item h4 {
    font-size: 30px;
    color: #121212;
    margin-top: 10px;
}

#book h4 {
    font-size: 30px;
    color: #121212;
    margin-top: 10px;
}

#shelter h4 {
    font-size: 30px;
    color: #121212;
    margin-top: 10px;
}

.help-item p {
    font-size: 16px;
    width: 100%;
}

#book p {
    font-size: 16px;
    width: 100%;
}

#shelter p {
    font-size: 16px;
    width: 100%;
}

/* End Donation plan Section  */



/* Start Depend on Section  */
.depend-contend {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
}

.depend-contend h2 {
    font-size: 45px;
}

.depend-contend img {
    width: 80%;
}

/* End Depend on Section  */

.email {
    text-align: center;
    background-color: #FFF4D6;
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

.email input {
    padding-right: ;
}